@import 'app/breakpoints';
@import '../../custom-bootstrap-style';

.games-page {
    .game-container {
        .games-login-modal {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 1000;
        }

        .token-loading {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 1000;
            background-color:#FFF5;
            display: flex;
            justify-content: center;
            align-items: center;

            .token-loading-gif { width: 2.5em; }
        }

        .games-page-popup-modal {
            position: absolute;
            background-color: #FFFD;
            top: 0%;
            left: 0%;
            right: 0%;
            bottom: 0%;
            z-index: 100;

            .modal-inner-div {
                position: relative;
                height: 100%;
            }
        }

        .games-page-popupMessage,
        .games-page-popupImage {
            position: absolute;
            background-color: #0007;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 100;

            .modal-inner-div {
                position: relative;
                height: 100%;

                .modal-dialog-back {
                    position: absolute;
                    top: 2%;
                    left: 3%;
                    z-index: 100;
                    font-size: 3em;
                    padding: 0.2em 0.4em;
                }
            }

            &.games-page-popupMessage {
                .modal-dialog {
                    text-align: center;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    background: white;
                    margin: auto;
                    width: 50%;
                    left: 0;
                    right: 0;
                    padding: 0% 10%;
                    border-radius: 5px;

                    .modal-content {
                        padding: 10% 0;
                    }

                    .modal-dialog-confirm {
                        padding: 2% 5%;
                        margin-bottom: 5%;
                        font-size: 1.3em;
                        border-radius: 5px;
                        cursor: pointer;
                        transition: background-color .5s;

                        &:hover {
                            background-color: #F2F2F2;
                        }
                    }
                }
            }

            &.games-page-popupImage {
                img {
                    height: 100%;
                    width: 100%;
                }
            }
        }

        .inner-section {
            height: 100%;

            .inner-section-carousel {
                height: 100%;

                .carousel.carousel-slider {
                    max-height: 100%;

                    .slider-wrapper {
                        height: 100%;

                        .slider {
                            max-height: 100%;
                        }
                    }
                }
            }

            .result-bottom-content {
                position: absolute;
                z-index: 10;
                bottom: 8%;
                padding: 3% 22%;
                left: 0;
                right: 0;
                display: flex;

                .result-content {
                    width: 33%;
                    padding: 5%;
                }

                .result-button-item {
                    width: 100%;
                    max-height: 10em;
                    cursor: pointer;
                    background-color: #AAA0;
                    border-radius: 10%;
                    transition: transform .5s, background-color.5s;

                    &:hover {
                        transform: scale(1.1);
                        border-radius: 10%;
                    }
                }
            }

            .carousel-slider {
                height: 100vh;
            }

            img {
                max-width: 100%;
            }
        }

        .main-menu-wrapper {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;

            .main-menu-bottom-content {
                position: absolute;
                z-index: 10;
                margin: auto;
                bottom: 11%;
                left: 0;
                right: 0;
                text-align: center;

                .game-info {
                    padding-bottom: 3%;

                    .main-menu-username {
                        @include line-elips(2em, 1.2, 1);
                        margin: auto;
                    }

                    .username-loading {
                        width: 1.5em;
                    }
                }
            }
        }

        .main-menu-button-item {
            width: 50%;
            max-width: 300px;
            cursor: pointer;
            background-color: #AAA0;
            transition: transform .5s, background-color.5s;

            &:hover {
                transform: scale(1.05);
                // background-color: #0002;
            }
        }

        .page-buttons {
            .page-button-item {
                display: inline-block;
                cursor: pointer;
                color: black;
                position: absolute;
                top: 2%;
                z-index: 500;
                margin: auto;

                &.disabled {
                    cursor: not-allowed;
                }

                &.to-left { left: 3%; }
                &.to-right { left: auto; right: 3%; }

                i {
                    font-size: 3em;
                    padding: 0.2em 0.4em;
                }
            }
        }

        .main-menu-token-indicator {
            position: absolute;
            z-index: 100;
            margin: auto;
            bottom: 7%;
            left: 0;
            right: 0;
            text-align: center;
            font-size: 1.5em;

            .token-value-container {
                position: relative;
                font-size: 120%;

                .token-amount {
                    position: absolute;
                    left: 0;
                }

                .deducting-token {
                    color: #F00;
                    text-shadow: 0px 0px 5px #FDDF;
                    font-size: 1.5em;
                    font-weight: 700;
                    position: absolute;
                    left: 0.85em;
                    bottom: -0.3em;
                    width: 2em;
                }
            }

            .available-token-loading {
                height: 1.25em;
                vertical-align: middle;
                padding-left: 0.5em;
            }
        }
    }

    img {
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -o-user-select: none;
        user-select: none;
        // pointer-events: none;
    }

    .disabled {
        opacity: 0.4;
    }

    .carousel.carousel-slider {
        .slider .slide.selected {
            max-height: calc(var(--vh, 1vh) * 100);
        }

        .control-arrow {
            right: 2% !important;
            transform: scale(2.8);
            background-color: transparent;
            top: calc(50% - 56px);
            animation: flashing 2s infinite;
            @keyframes flashing {
                0% { opacity: 0.1; }
                50% { opacity: 0.9; }
                100% { opacity: 0.1; }
            }
        }
    }
}
